html, body {
  height: 100%;
}

.body__table {
  border-collapse: collapse;
  font-size: 20pt;
  width: 300px;
  height: 150px;
  position: relative;
  top: 35%;
  left: 40%;
}

.body__table th {
  text-align: left;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.body__table td {
  border-right: 1px solid black;
  height: 50px;
}
